*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
figure {
    margin: 0;
    padding: 0;
}
figure img {
    height: auto;
    width: 100%;
    max-width: 100%;
}
::selection {
    background: #fefac7; /* Safari */
    color: #2f2f2f;
}




/*-----------------------------------------------------------------------------------*/
/*  01. GENERAL
/*-----------------------------------------------------------------------------------*/
body {
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #606060;
    font-family: 'Raleway', sans-serif;
}
.container {
    padding-right: 0;
    padding-left: 0;
}
body,
li {
    line-height: 24px
}
input,
textarea {
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
}
p {
    margin: 0 0 20px
}
a {
    color: #337ab7;
    transition: all 200ms ease-in;
}
a:hover,
a:focus {
    color: #141618;
    text-decoration: none;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    margin-top: 0;
    color: #404040;
    margin-bottom: 10px;
    font-weight: 700;
}
h2 {
    font-size: 22px;
    line-height: 28px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
.main-title {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: none;
}
.main-title strong {
    font-weight: 900
}
.main-title.text-center:after {
    font-family: 'elemis';
    content: "\e600";
    display: block;
    color: #4aa2d1;
    font-size: 14px;
    margin-top: 25px;
    font-weight: normal;
}
.lead {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}
.inner {
    padding-top: 80px;
    padding-bottom: 50px;
}
.light-wrapper,
body {
    background: #e6e6e6;
}
.dark-wrapper {


  background : linear-gradient(180deg, rgba(59, 162, 202, 1) 7.92%, rgba(66, 165, 204, 1) 17.75%, rgba(84, 174, 209, 1) 31.63%, rgba(114, 188, 217, 1) 47.92%, rgba(157, 208, 228, 1) 66.05%, rgba(210, 234, 243, 1) 85.45%, rgba(255, 255, 255, 1) 100%);
  border-style : Solid;
  border-color : #FFFFFF;
  border-color : rgba(255, 255, 255, 1);
  border-width : 0px;
}


.inverse-wrapper {
    background: #fff ;
    color: #ECECEC;
    position: relative;
}

.app-wrapper {
    background: #e6e6e6 ;
    color: #ECECEC;
    position: relative;
}
.inverse-wrapper h3,
.inverse-wrapper h4,
.inverse-wrapper h5 {
    color: #FFF
}
ul {
    padding: 0 0 0 18px
}
ul {
    margin-bottom: 15px
}
.thin {
    width: 80%;
    margin: 0 auto;
}
.meta span:before {
    content: "|";
    padding: 0 10px;
}
.meta span:first-child:before {
    display: none
}
.meta {
    color: #9a9a9a;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.meta a {
    color: #9a9a9a;
    text-transform: uppercase;
}
.meta a:hover {
    color: #4aa2d1
}
footer a {
    color: inherit
}
footer a:hover {
    color: #4aa2d1 !important
}
footer [class*="col-"] .widget {
    margin-top: 35px
}
footer [class*="col-"] .widget:first-child {
    margin-top: 0
}
footer ul.tag-list li a {
    color: #e3e3e3;
    background: #242426;
}
.sub-footer {
    background: #21262a;
    padding: 25px 0;
}
.sub-footer p {
    padding: 0;
    margin: 3px 0 0 0;
}
.label {
    padding: .3em .65em .3em .65em;
    text-transform: uppercase;
    font-weight: 800;
}
.main-title .label {
	font-size: 10px;
	vertical-align: super;
}
.navbar .label {
	vertical-align: middle;
	font-size: 8px;
	padding: .3em .6em .3em .65em;
}
.row-no-padding {
    margin-left: 0 !important;
    vertical-align: middle;
}
.row-no-padding [class*="col-"] {
    font-size: 8px;
    padding: .3em .6em .3em .65em;
}

.navbar.fixed .yamm-content {
    background: rgba(31,33,36,0.95)
}
/*-----------------------------------------------------------------------------------*/
/*  02. BUTTON
/*-----------------------------------------------------------------------------------*/
.btn {
    color: #FFF !important;
    background: #4aa2d1;
    border: 0;
    margin-bottom: 10px;
    margin-right: 4px;
    font-size: 13px;
    padding: 11px 20px 10px 20px;
    font-weight: 800;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 200ms ease-in;
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
}
.btn-border {
    background: none !important;
    border: 2px solid #ececec;
}
.btn:hover,
.btn:focus,
.btn:active {
    background: #358dbc;
    transition: all 200ms ease-in;
    box-shadow: none;
}
.btn-border:hover,
.btn-border:focus,
.btn-border:active {
    background: #ececec !important;
    color: #434343 !important;
}

/*-----------------------------------------------------------------------------------*/
/*  03. HEADER
/*-----------------------------------------------------------------------------------*/
.navbar {
    z-index: 9998;
    border: 0;
    border-radius: 0;
    min-height: inherit;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: rgba(31,33,36,0.45);
    box-shadow: none;
}
.navbar.light {
	background: rgba(255,255,255,0.85);
}
.no-intro-img .navbar {
    background: #1f2124;
}
.navbar.solid,
.navbar.no-opacity {
	background: #1f2124;
}
.no-intro-img .navbar.light,
.navbar.solid.light,
.navbar.no-opacity.light {
	background: rgba(255,255,255,1);
}
.navbar.centered {
	background: #fcfcfc;
}
.navbar.centered .navbar-collapse {
	background: #1f2124;
}
.navbar.light {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1) !important;
}
.container>.navbar-header {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.navbar .navbar-brand {
    padding: 0;
    height: auto;
    transition: all 200ms ease-in;
    position: relative;
    box-shadow: none;
    float: left;
    margin: 36px 0 !important;
}
.navbar .navbar-brand a {
    transition: none
}
.navbar .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    float: right;
    box-shadow: none !important;
    border: 0 !important;
}
.navbar .navbar-nav > li {
    margin: 10px 0 0 38px
}
.navbar .navbar-nav > li > a {
    padding: 40px 0px;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f0f0f0 !important;
}
.navbar .dropdown-menu {
    padding: 0;
    margin: 0;
    min-width: 150px;
    border: none;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: 1px solid #2e3033;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li {
    background: rgba(31,33,36,1);
    border: none;
    border-top: 1px solid rgba(255,255,255,0.07);
}
.navbar.solid .dropdown-menu:not(.yamm-dropdown-menu) li,
.navbar.no-opacity .dropdown-menu:not(.yamm-dropdown-menu) li {
    background: #1f2124;
}
.navbar .dropdown-menu li:first-child {
    border: none
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a {
    background: none;
    border: none;
    color: #FFF !important;
    padding: 15px 20px 16px;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
}
.navbar .navbar-nav > li > a:focus,
.navbar .nav > li > a:hover {
    background: none;
    color: #E1BC29 !important;
}
.navbar .dropdown-menu li a:hover {
    padding: 15px 20px 16px;
    filter: none;
    line-height: 1;
    color: #4aa2d1 !important;
}
.navbar .nav > li > .dropdown-menu:after {
    display: none
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #4aa2d1
}
.caret {
    border-top: 4px solid
}
.btn.responsive-menu {
    padding: 7px 0 0 0;
    width: 36px;
    height: 36px;
    margin: 0;
    display: none;
    text-align: center;
    font-size: 15px;
}

.navbar ul li a .label {
    margin-left: 5px;
}
/*-----------------------------------------------------------------------------------*/
/*  04. MEGA MENU
/*-----------------------------------------------------------------------------------*/
.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
    position: static
}
.yamm .navbar-inner,
.yamm .container {
    position: relative
}
.yamm .dropdown-menu {
    left: auto
}
.yamm .dropdown-menu > li {
    display: block
}
.yamm .yamm-dropdown-menu li {
    border: 0;
    padding: 2px 0;
    background: none;
}
.yamm .yamm-dropdown-menu li a {
    padding: 0
}
.yamm .yamm-dropdown-menu li a:hover {
    padding: 0
}
.yamm .nav.pull-right .dropdown-menu {
    right: 0
}
.yamm .yamm-content {
    margin-top: -2px;
    padding: 30px;
    *zoom: 1;
    color: #ececec;
    background: rgba(31,33,36,1);
}
.navbar.solid.yamm:not(.fixed) .yamm-content,
.navbar.no-opacity.yamm:not(.fixed) .yamm-content {
    background: #1f2124;
}
.navbar.fixed .yamm-content {
    background: rgba(31,33,36,0.95)
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
    display: table;
    content: "";
    line-height: 0;
}
.yamm .yamm-content:after {
    clear: both
}
.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
    display: none
}
/*-----------------------------------------------------------------------------------*/
/*  05. STICKY NAVBAR
/*-----------------------------------------------------------------------------------*/
.offset {
    display: block
}
.offset {
    padding-top: 100px
}
.offset2 {
    padding-top: 145px
}
.offset3 {
    padding-top: 159px
}
.navbar.default {
    width: 100%;
    position: absolute;
}
.navbar.fixed {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgba(31,33,36,0.95) !important;
    box-shadow: none;
}
.navbar.fixed.light {
    background: rgba(255,255,255,0.95) !important;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
}
.navbar.fixed .navbar-brand {
    padding: 0;
 
}
.navbar.fixed .top-bar {
	display: none;
}
/*-----------------------------------------------------------------------------------*/
/*  06. BOXES
/*-----------------------------------------------------------------------------------*/
.box {
   
    padding: 25px 30px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
    transition: all 200ms ease-in;
}
.box-color {
    padding: 35px 30px 10px 30px;
    color: #000000 !important;
}
.box-color h4 {
    color: inherit
}

.box-color {
    background: #D1BF79;
}

.box-color::before,
.box-color::after {
    position: absolute;
    top: 10px;
    right: 25px;
    bottom: 10px;
    left: 25px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;
} 


.box-color:hover::before,
.box-color:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*-----------------------------------------------------------------------------------*/
/*  07. REVOLUTION SLIDER
/*-----------------------------------------------------------------------------------*/
.tp-fullscreen-container {
    width: 100% !important;
    position: relative;
    padding: 0;
}
.revolution {
    z-index: 998;
}
.revolution ul {
    display: none;
    margin: 0;
    list-style: none;
}
.revolution .tp-caption {
    color: #FFF
}
.revolution .lead {
    font-size: 28px
}
/*-----------------------------------------------------------------------------------*/
/*  08. STEPS
/*-----------------------------------------------------------------------------------*/
.steps .icon {
    font-size: 45px;
    margin-bottom: 25px;
    color: #4aa2d1;
}
.steps {
    counter-reset: stepsNum
}
.steps i {
    color: inherit
}
.steps .steps-item {
    counter-increment: stepsNum;
    border: 2px solid #e1e1e1;
    padding: 50px 20px 25px;
    position: relative;
    transition: all 200ms ease-in;
    position: relative;
}
.steps .steps-item .number {
    background: #F9603D;
    color: #FFF;
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    position: absolute;
    top: -23px;
    left: 50%;
    margin-left: -23px;
    display: table;
}
.steps .steps-item .number:before {
    content: counter(stepsNum, lower-roman);
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}
.steps .steps-item:hover {
    border-color: #4aa2d1
}
/*-----------------------------------------------------------------------------------*/
/*  09. FEATURES
/*-----------------------------------------------------------------------------------*/
.feature {
    padding: 0 0 0 60px;
    position: relative;
    margin-bottom: 40px;
}
.feature .icon {
    position: absolute;
    left: 0;
    color: #4aa2d1;
    font-size: 40px;
}
.feature.flat-icon {
    padding: 0 0 0 70px
}
/*-----------------------------------------------------------------------------------*/
/*  10. FACTS
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  11. PROCESS
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*  14. WIDGETS
/*-----------------------------------------------------------------------------------*/
.widget-title {
    margin-bottom: 20px !important
}
.widget .post-list {
    padding: 0;
    margin: 0;
}
.widget .post-list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.widget .post-list li {
    clear: both;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.widget .post-list h5 {
    margin: 0;
    color: inherit;
    font-weight: bold;
    margin-bottom: 5px;
}
.widget .post-list h5 a {
    color: #404040;
    text-transform: none !important;
}
.widget .post-list h5 a:hover {
    color: #4aa2d1
}
footer .widget .post-list h5 a {
    color: #ececec
}
.widget .post-list .icon-overlay {
    float: left;
    width: 70px;
    height: 70px;
}
.widget .post-list .meta {
    margin-left: 85px;
    margin-bottom: 0;
}
.widget .post-list .meta em {
    color: #9a9a9a;
    font-weight: 500;
    margin-bottom: 10px;
    font-style: normal;
}
.widget .post-list .meta em a {
    color: #9a9a9a
}
.widget .post-list .meta em a:hover {
    color: #4aa2d1
}
ul.tag-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.tag-list li {
    padding: 0;
    margin: 0;
    display: inline-block;
    background: none;
}
ul.tag-list li a {
    padding-left: 26px !important;
    margin: 0 2px 6px 0;
    position: relative;
    font-size: 12px !important;
}
ul.tag-list li a:before {
    background: #eeeeee;
    width: 6px;
    height: 6px;
    content: "";
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -3px;
}
ul.tag-list li a:hover {
    text-decoration: none
}
footer ul.tag-list li a {
    background: rgba(0,0,0,0.25) !important
}
footer ul.tag-list li a:before {
    background: #262b2f
}
footer ul.tag-list li a:hover {
    background: #4aa2d1 !important;
    color: #FFF !important;
}
/*-----------------------------------------------------------------------------------*/
/*  15. TESTIMONIALS
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  16. PORTFOLIO
/*-----------------------------------------------------------------------------------*/

/* ---- 15.1 Full Width - Columns ---- */


.portfolio-columns-fw .portfolio-item {
  padding-left: 0;
  padding-right: 0;
}

.portfolio-columns-fw .p-wrapper {
  display: block;
  position: relative;
  width: 100%;
  background: gray;
  overflow: hidden;
  float: left;
}

.portfolio-columns-fw .p-wrapper img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.portfolio-columns-fw .p-wrapper:hover img,
.portfolio-columns-fw .p-wrapper:active img {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.portfolio-columns-fw .p-wrapper:hover .open-btn,
.portfolio-columns-fw .p-wrapper:active .open-btn {
  top: 0;
}

/* ---- 15.4 Single Column ---- */

/* ---- 15.5 Portfoli Single - Project Page ---- */

/* ---- 15.6 Portfoli Mobile ---- */

.hover-default .p-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.8);
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.hover-default .p-hover .p-content {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 25px;
  -webkit-transition: bottom 0.5s;
          transition: bottom 0.5s;
}

.sec-heading {
  margin-bottom: 100px;
  text-align: center;
}

.sec-heading .subheading {
  display: block;
  text-transform: uppercase;
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: #999;
  letter-spacing: 2.5px;
}



/*-----------------------------------------------------------------------------------*/
/*  17. THUMBNAIL OVERLAY
/*-----------------------------------------------------------------------------------*/
figure {
    display: block;
    overflow: hidden;
    position: relative;
}
figure img {
    display: inline;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease-out;
}
.icon-overlay {
    display: block;
    overflow: hidden;
    position: relative;
}
.icon-overlay img {
    display: block;
    max-width: 100%;
    -webkit-backface-visibility: hidden;
}



/*-----------------------------------------------------------------------------------*/
/*  21. TABS
/*-----------------------------------------------------------------------------------*/
.tabs-top.tab-container .panel-container {
    position: relative;
    z-index: 1;
    display: block;
}
.tabs-top.tab-container .panel-container p {
    margin: 0;
    padding-bottom: 10px;
}
.tabs-top.tab-container .panel-container .tab-block {
    padding-top: 10px;
    padding-bottom: 0;
}
.tabs-bottom .etabs {
    padding: 0;
    overflow: inherit;
    width: 80%;
    margin: 0 auto;
}
.tabs-bottom,
.tabs-bottom .etabs {
    text-align: center
}
.tabs-bottom .tab {
    display: inline-block
}
.tabs-bottom .tab a {
    display: block
}
.tabs-bottom .tab .icon {
    margin: 0 auto 15px;
    position: relative;
    width: 130px;
    height: 130px;
    line-height: 80px;
}
.tabs-bottom .tab .icon img {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.tabs-bottom .tab:hover .icon.box {
    box-shadow: 0 2px 0 #4aa2d1
}
.tabs-bottom .tab h4 {
    margin: 0
}
.tabs-bottom.tabs .panel-container {
    width: 90%;
    margin: 0 auto 30px;
}
.tabs-bottom.tab-container .panel-container p {
    margin: 0;
    padding-bottom: 10px;
}
/*-----------------------------------------------------------------------------------*/
/*  22. ACCORDION / TOGGLE
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*  24. PARALLAX
/*-----------------------------------------------------------------------------------*/
@supports (-webkit-appearance:none) {
}
/*-----------------------------------------------------------------------------------*/
/*  25. FORMS
/*-----------------------------------------------------------------------------------*/
label {
    font-weight: inherit
}
textarea,
input[type="text"],
input[type="email"] {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: inherit;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: inherit;
    border: 0;
    background: rgba(0,0,0,0.06);
    resize: none;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    transition: all 200ms ease-in;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    border: 0;
    background: rgba(0,0,0,0.08);
    box-shadow: none;
}
textarea {
    height: 100%;
    padding: 8px 13px;
    margin-bottom: 15px;
    min-height: 200px;
    resize: vertical;
    font-weight: inherit;
}
::-webkit-input-placeholder {
    color: inherit !important;
    font-weight: 500 !important;
}
:-moz-placeholder {
    color: inherit !important;
    font-weight: 500 !important;
    opacity: 1;
}
::-moz-placeholder {
    color: inherit !important;
    font-weight: 500 !important;
    opacity: 1;
}
:-ms-input-placeholder {
    color: inherit !important;
    font-weight: 500 !important;
}
/*-----------------------------------------------------------------------------------*/
/*  26. COMMENTS
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  32. DIVIDERS
/*-----------------------------------------------------------------------------------*/
.divide10 {
    width: 100%;
    height: 10px;
}
.divide20 {
    width: 100%;
    height: 20px;
}
.divide30 {
    width: 100%;
    height: 30px;
}

.contact-1 {
    padding-left: 0;
    padding-right: 0;
    display:block;
    margin:0;
    overflow:hidden;
}
/*-----------------------------------------------------------------------------------*/
/*  33. FONT ICON PAGES
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  34. RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media (min-width: 992px) {
    footer .newsletter-wrapper,
    footer .newsletter-wrapper .newsletter-form input[type="email"] {
        max-width: 300px;
        margin: 0;
    }
    .caret {
        display: none
    }
}
@media (max-width: 991px) { 
    body:not(.onepage) .navbar.default {
        position: absolute
    }
    .navbar-brand {
        position: relative;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }
    .btn.responsive-menu {
        display: block
    }
    .navbar .nav,
    .navbar .dropdown,
    .navbar .collapse {
        position: relative
    }
    .navbar .dropdown-menu {
        position: relative;
        left: inherit;
        top: inherit;
        float: none;
        width: 100% !important;
        background: none;
        padding: 0;
    }
    .navbar .dropdown-menu:not(.yamm-dropdown-menu) li {
        border: none !important
    }
    .navbar-nav > li > a,
    .navbar .dropdown-menu:not(.yamm-dropdown-menu) li a {
        border-top: 1px solid rgba(255,255,255,0.07)
    }
    .navbar-nav > li:first-child > a {
        border-top: none
    }
    .navbar-nav > li > a,
    .navbar .dropdown-menu li a,
    .navbar .dropdown-menu li a:hover {
        padding: 12px 0 !important
    }
    .navbar .dropdown-menu {
        padding-left: 20px
    }
    .navbar-nav > li {
        border: none;
        margin: 0 !important;
    }
    .navbar .btn.responsive-menu {
        margin: 32px 0;
        float: right;
    }
    .navbar-header {
        float: left;
        width: 100%;
    }
    .navbar-header:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .navbar .container {
        width: 100%;
        padding: 0;
    }
    .navbar .navbar-collapse {
        width: 100%;
        float: none !important;
        margin: 0;
        border: 0 !important;
        max-height: none;
        text-align: left;
        overflow: hidden;
        background: rgba(31,33,36,1);
    }
    .navbar .navbar-nav {
        width: 720px;
        margin: 20px auto 0;
        padding: 0;
    }
    .navbar .basic-wrapper {
        width: 720px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .thin {
        width: 100%
    }
}
@media (min-width: 768px) and (max-width: 991px) { 
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .steps {
        margin-top: -30px;
        overflow: hidden;
    }
    .steps .steps-item {
        margin-top: 30px
    }
}
@media (max-width: 767px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navbar .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar .navbar-nav {
        width: 100%;
        margin: 20px auto 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar .basic-wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        display: block;
    }
    .navbar .navbar-nav > li {
        margin-left: 0
    }
    [class*="col-"] {
        margin-bottom: 30px
    }
    footer .newsletter-wrapper,
    footer .newsletter-wrapper .newsletter-form input[type="email"] {
        max-width: 250px;
        margin: 0;
    }
    .newsletter-wrapper,
    .newsletter-form input.email,
    .newsletter-wrapper .newsletter-form input[type="email"] {
        width: 100% !important;
        max-width: 100%;
    }
    .revolution .btn {
        margin: 0;
        font-size: 10px;
        padding: 6px 15px 5px;
    }
}
